<!DOCTYPE html>
<html lang="en">
<head>
    <title>Checkout</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'amadon/css/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <p>We charged your credit card ${{ request.session.price }}.</p>
    <p>You have ordered {{ request.session.totalitemsum }} items so far and spent ${{ request.session.grandtotalprice }} with Amadon.com</p>
    <a href="/amadon">Go Back</a>

</body>
</html>
